html {
  height: 100%;
  width: 100%;
}

nav {
  margin: auto;
  width: 50%;
  border: 3px dotted #38b6ff;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color:#ffffff;
  display: flex;
  justify-content: center;
}

body {
  background-color: #cb6ce6;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  color: #38b6ff;
  display: flex;
  justify-content: center;
  letter-spacing: -9px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 75px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  letter-spacing: -3px;
  margin-top: -150px;
}

.p1 {
  color:#ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;

}

.p2 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  
}

div {
  display: flex;
  justify-content: center;
}

.katascakes {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  
}
.katatext {
  margin-top: -20px;
  display: flex;
  justify-content: flex-start;
  color:#ffffff;
  font-style: oblique;
  font-size: 10px;
}

.picturetext {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  color:#38b6ff;
}

.div2 {
  margin-top: -500px;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 5px;
}